services:
  civirank:
    image: civirank-civirank
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT}:8000"
      - "5678:5678"
    environment:
      BATCH_SIZE: "${BATCH_SIZE}"
      SCROLL_WARNING_LIMIT: "${SCROLL_WARNING_LIMIT}"
    #command: ["python", "-m", "debugpy", "--listen", "0.0.0.0:5678", "start_server.py", "--port", "${PORT}", "--batch_size", "${BATCH_SIZE}", "--scroll_warning_limit", "${SCROLL_WARNING_LIMIT}", "--no-download-models"]
    #command: ["python", "start_server.py", "--port", "${PORT}", "--batch_size", "${BATCH_SIZE}", "--scroll_warning_limit", "${SCROLL_WARNING_LIMIT}",  "--no-download-models"]
    command: [
      "python", "-m", "watchdog.watchmedo", "auto-restart",
      "--recursive",
      "--patterns=*.py",
      "--ignore-patterns=*.pyc",
      "--",
      "python", "start_server.py",
      "--port", "${PORT}",
      "--batch_size", "${BATCH_SIZE}",
      "--scroll_warning_limit", "${SCROLL_WARNING_LIMIT}",
      "--no-download-models"
    ]
    networks:
      - network1
networks:
  network1:
    name: dev-network
    external: true